{% extends 'baseadmin.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<h1>Category index</h1>
	<a href="{{ path('app_category_new') }}" class="btn btn-primary">Create new</a>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Cat_name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.catName }}</td>
					<td>
						<a href="{{ path('app_category_show', {'id': supplier.id}) }}">
							<span class="material-icons" style="color:green">visibility</span>
						</a>
						<a href="{{ path('app_supplier_edit', {'id': supplier.id}) }}">
							<span class="material-icons">mode_edit</span>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
