{% extends 'baseadmin.html.twig' %}

{% block title %}Bill index{% endblock %}

{% block body %}
    <h1>Bill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>Phone</th>
                <th>Cus_address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bill in bills %}
            <tr>
                <td>{{ bill.id }}</td>
                <td>{{ bill.fullname }}</td>
                <td>{{ bill.phone }}</td>
                <td>{{ bill.cusAddress }}</td>
                <td>
                    <a href="{{ path('app_bill_show', {'id': bill.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
