{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
    <h1>Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detail.id }}</td>
            </tr>
            <tr>
                <th>De_quantity</th>
                <td>{{ detail.deQuantity }}</td>
            </tr>
            <tr>
                <th>De_price</th>
                <td>{{ detail.dePrice }}</td>
            </tr>
            <tr>
                <th>De_totalprice</th>
                <td>{{ detail.deTotalprice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_details_index') }}">back to list</a>

    <a href="{{ path('app_details_edit', {'id': detail.id}) }}">edit</a>

    {{ include('details/_delete_form.html.twig') }}
{% endblock %}
