{{ form_start(form) }}
<div class="row">
	<div class="form-group col-md-6" id="datetimepicker1" class="input-append date">
		<label>Order Date</label>
		<span class="material-icons">calendar_today</span>
		{{ form_widget(form.or_date, {attr: { 
        'data-format': "dd/MM/yyyy hh:mm:ss" },
    }) }}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6" id="datetimepicker1" class="input-append date">
		<label>Delivery Date</label>
		<span class="material-icons">calendar_today</span>
		{{ form_widget(form.or_deliverydate, {attr: { 
        'data-format': "dd/MM/yyyy hh:mm:ss" },
    }) }}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6">
		<label>Order Phone</label>
		{{ form_widget(form.or_phone, {'attr': {'class': 'form-control'}})}}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6">
		<label>Address</label>
		{{ form_widget(form.or_address, {'attr': {'class': 'form-control'}})}}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6">
		<label>Total price</label>
		{{ form_widget(form.or_totalprice, {'attr': {'class': 'form-control'}})}}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6">
		<label>Order status</label>
		{{ form_widget(form.or_status, {'attr': {'class': 'form-control'}})}}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6">
		<label>User</label>
		{{ form_widget(form.us_user, {'attr': {'class': 'form-control'}})}}
	</div>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
	<button class="btn btn-success" type="submit">{{ button_label|default('Save') }}</button>
	<a href="{{ path('app_orders_index') }}" class="btn btn-primary">Back to list</a>
</div>
{{ form_end(form) }}