{% extends 'baseadmin.html.twig' %}

{% block title %}Orders information - Admin site
{% endblock %}

{% block body %}
	<h1>ORDERS INFORMATION</h1>
    <hr></hr>
	<a href="{{ path('app_orders_new') }}" class="btn btn-primary">
    <span class="material-icons">add</span>CREATE NEW</a>
    <br></br>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>ORDER DATE</th>
				<th>DELIVERY DATE</th>
				<th>PHONE NUMBER</th>
				<th>DELIVERY ADDRESS</th>
				<th>ORDER PRICE</th>
				<th>ORDER STATUS</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.orDate ? order.orDate|date('Y-m-d') : '' }}</td>
					<td>{{ order.orDeliverydate ? order.orDeliverydate|date('Y-m-d') : '' }}</td>
					<td>{{ order.orPhone }}</td>
					<td>{{ order.orAddress }}</td>
					<td>{{ order.orTotalprice }}</td>
					<td>{{ order.orStatus }}</td>
					<td>
						<a href="{{ path('app_orders_show', {'id': order.id}) }}">
							<span class="material-icons" style="color:green">visibility</span>
						</a>
						<a href="{{ path('app_orders_edit', {'id': order.id}) }}">
							<span class="material-icons">mode_edit</span>
						</a>
						<a href="{{ path('app_orders_deleteone', {'id': order.id}) }}" onclick="return confirm('Are you sure?')">
							<span class="material-icons" style="color:red">delete</span>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}