{% extends 'baseadmin.html.twig' %}

{% block title %}Order details - Admin site
{% endblock %}

{% block body %}
<h1>ORDER INFORMATION</h1>
<hr></hr>
<h3>ORDER DETAILS</h3>
<br></br>


	<div class="container">
		<div class="row col-md-3">
			<h4>
				<strong>ID:</strong>
			</h4>
		</div>
		<div class="row col-md-9">
			<h4>{{ order.id }}</h4>
		</div>

		<div class="row col-md-3">
			<h4>
				<strong>Order date:</strong>
			</h4>
		</div>
		<div class="row col-md-9">
			<h4>{{ order.orDate ? order.orDate|date('Y-m-d') : '' }}</h4>
		</div>

		<div class="row col-md-3">
			<h4>
				<strong>Delivery date:</strong>
			</h4>
		</div>
		<div class="row col-md-9">
			<h4>{{ order.orDeliverydate ? order.orDeliverydate|date('Y-m-d') : '' }}</h4>
		</div>

		<div class="row col-md-3">
			<h4>
				<strong>Phone number:</strong>
			</h4>
		</div>
		<div class="row col-md-9">
			<h4>{{ order.orPhone }}</h4>
		</div>

		<div class="row col-md-3">
			<h4>
				<strong>Delivery address:</strong>
			</h4>
		</div>
		<div class="row col-md-9">
			<h4>{{ order.orAddress }}</h4>
		</div>

		<div class="row col-md-3">
			<h4>
				<strong>Total price:</strong>
			</h4>
		</div>
		<div class="row col-md-9">
			<h4>{{ order.orTotalprice }}</h4>
		</div>

		<div class="row col-md-3">
			<h4>
				<strong>Status:</strong>
			</h4>   
		</div>
		<div class="row col-md-9">
			<h4>{{ order.orStatus }}</h4>
		</div>
	</div>
<br/>
	<a href="{{ path('app_items_index') }}" class="btn btn-primary">
		Back to list
	</a>
{% endblock %}
