{% extends 'base.html.twig' %}
{% block title %}
	{{ item.itName }}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row mt-3 mb-4">
			<div class="col-md-4">
				<img src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.itName }}" class="img-fluid">
			</div>
			<div class="col-md-8">
				<h1 class="mt-4 mt-md-0">{{ item.itName }}</h1>
				<h2>{{ item.itPrice }}
					€</h2>
				<hr>
				<b>Description:
				</b>
				{{ item.itDescription }}
				<form class = "mt4 p-4 bg-light" method="post">
					<div class="form-group">
						<lable for="quantity">Quantity</lable>
						<input type="number" class="form-control" id="quantity">
					</div>
					<button class="btn btn-warning">Add to cart</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
