{% extends 'baseadmin.html.twig' %}

{% block title %}Items index{% endblock %}

{% block body %}
    <h1>Items index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>It_name</th>          
                <th>It_description</th>
                <th>It_price</th>
                <th>image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.itName }}</td>
                <td>{{ item.itDescription }}</td>
                <td>{{ item.itPrice }}</td>
                <td><img src="{{vich_uploader_asset(item,'imageFile')}}" width="120" height="90"></td>    
                <td>
                    <a href="{{ path('app_items_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_items_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_items_new') }}">Create new</a>
{% endblock %}
