{% extends 'baseadmin.html.twig' %}
{% block title %}
	Items
{% endblock %}
{% block body %}
	<h1>
		Items
	</h1>
	<table class="table">
		<tbody>
			<tr>
				<th>
					ID
				</th>
				<td> {{ item.id }}
				</td>
			</tr>
			<tr>
				<th>
					Name
				</th>
				<td> {{ item.itName }}
				</td>
			</tr>
			<tr>
				<th>
					Description
				</th>
				<td> {{ item.itDescription }}
				</td>
			</tr>
			<tr>
				<th>
					Price
				</th>
				<td> {{ item.itPrice }}
				</td>
			</tr>
			<tr>
				<th>
					Image
				</th>
				<td>
					<img src="{{ vich_uploader_asset(item,'imageFile') }}" width="200px"></td>
			</tr>
		</tbody>
	</table>
	<a href="{{ path('app_items_index') }}" class="btn btn-primary">
		Back to list
	</a>
{% endblock %}
