{% extends 'base.html.twig' %}

{% block title %}Items{% endblock %}

{% block body %}
    <h1>Items</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>It_name</th>
                <td>{{ item.itName }}</td>
            </tr>
            <tr>
                <th>It_imange</th>
                <td>{{ item.itImange }}</td>
            </tr>
            <tr>
                <th>It_description</th>
                <td>{{ item.itDescription }}</td>
            </tr>
            <tr>
                <th>It_price</th>
                <td>{{ item.itPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_items_index') }}">back to list</a>

    <a href="{{ path('app_items_edit', {'id': item.id}) }}">edit</a>

    {{ include('items/_delete_form.html.twig') }}
{% endblock %}
