{{ form_start(form) }}
<div class="row">
	<div class="form-group col-md-6">
		<label>Username</label>
		{{ form_widget(form.us_username, {'attr': {'class': 'form-control'}})}}
	</div>
</div>

<div class="row">
	<div class="form-group col-md-6">
		<label>Password</label>
		{{ form_widget(form.us_password, {'attr': {'class': 'form-control'}})}}
	</div>
</div>

<div class="row">
	<div class="form-group col-md-6">
		<label>Full name</label>
		{{ form_widget(form.us_fullname, {'attr': {'class': 'form-control'}})}}
	</div>
</div>

<div class="row">
	<div class="form-group col-md-6">
		<label>Mail address</label>
		{{ form_widget(form.us_mail, {'attr': {'class': 'form-control'}})}}
	</div>
</div>

<div class="row">
	<div class="form-group col-md-6">
		<label>Phone</label>
		{{ form_widget(form.us_phone, {'attr': {'class': 'form-control'}})}}
	</div>
</div>

<div class="row">
	<div class="form-group col-md-6">
		<label>Address</label>
		{{ form_widget(form.us_address, {'attr': {'class': 'form-control'}})}}
	</div>
</div>

<div class="row">
	<div class="form-group col-md-6">
		<label>Role</label>
		{{ form_widget(form.us_role, {'attr': {'class': 'form-control'}})}}
	</div>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
	<button class="btn btn-success" type="submit">{{ button_label|default('Save') }}</button>
	<a href="{{ path('app_user_index') }}" class="btn btn-primary">Back to list</a>
</div>
{{ form_end(form) }}