{% extends 'baseadmin.html.twig' %}

{% block title %}Account information - Admin site
{% endblock %}

{% block body %}
	<h1>ACCOUNT INFORMATION</h1>
    <hr></hr>
	<a href="{{ path('app_user_new') }}" class="btn btn-primary">
    	<span class="material-icons">add</span>SIGN UP AN ADMIN ACCOUNT</a>
    <br></br>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>USERNAME</th>
				<th>FULL NAME</th>
				<th>E-MAIL</th>
				<th>NUMBER PHONE</th>
				<th>ADDRESS</th>
				<th>ROLE</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.usUsername }}</td>
					<td>{{ user.usFullname }}</td>
					<td>{{ user.usMail }}</td>
					<td>{{ user.usPhone }}</td>
					<td>{{ user.usAddress }}</td>
					<td>{{ user.usRole }}</td>
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}">
							<span class="material-icons" style="color:green">visibility</span>
						</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}">
							<span class="material-icons">mode_edit</span>
						</a>
						<a href="{{ path('app_user_deleteone', {'id': user.id}) }}" onclick="return confirm('Are you sure?')">
							<span class="material-icons" style="color:red">delete</span>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">No records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}