{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Us_username</th>
                <th>Us_password</th>
                <th>Us_fullname</th>
                <th>Us_mail</th>
                <th>Us_phone</th>
                <th>Us_address</th>
                <th>Us_role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.usUsername }}</td>
                <td>{{ user.usPassword }}</td>
                <td>{{ user.usFullname }}</td>
                <td>{{ user.usMail }}</td>
                <td>{{ user.usPhone }}</td>
                <td>{{ user.usAddress }}</td>
                <td>{{ user.usRole }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
