{% extends 'baseadmin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.usUsername }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.usPassword }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ user.usFullname }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.usMail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.usPhone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.usAddress }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.usRole }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}" class="btn btn-primary">Back to list</a>

{% endblock %}
